<HTML>
  <!-- Footer -->
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">César Buenfil</h1>
          <p class="lead">Aquí pondría info, si tuviera alguna.</p>
      </div>
  </div>

  <!-- JS -->
  <script type = "text/javascript" src = "js/lab6.js"></script>
  <script type = "text/javascript" src = "js/codigo.js"></script>
  <script type = "text/javascript" src = "js/registar.js"></script>
  <script type = "text/javascript" src = "js/tienda.js"></script>
  <script type="text/javascript" src="js/ajax.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</HTML>
